@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap');

html, body {
    font-family: 'Outfit', sans-serif;
}

:root {
    --dark-navy: #030f26;
    --primary-blue: #0a4ebd;
    --accent-gold: #ffb300;
    --text-dark: #20344d;
    --white: #ffffff;
}